<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="./static/bootstrap.min.css" rel="stylesheet">
    <title>guniflask - Home</title>
</head>
<body style="margin:1em">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>
<h2>Hello World!</h2>

<p>Websocket usage:</p>
<ul>
<li><a href="./chat">Websocket based Chatting Room</a></li>
</ul>

<p>Example of user login:</p>
<ul>
    <li><a href="./login">Login</a></li>
    <li><a href="./settings">App Settings</a></li>
</ul>
</body>
</html>
